{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="{% static "styles/reset.css" %}"/>

        {% if debug %}
            <link rel="stylesheet" href="{% static "build/bundle.css" %}"/>
        {% else %}
            <link rel="stylesheet" href="{% static "build/bundle.min.css" %}"/>
        {% endif %}
    </head>

    <body>
        {% block content %}{% endblock %}

        {% if debug %}
            <script type="text/javascript" src="{% static 'build/bundle.js' %}"></script>
        {% else %}
            <script type="text/javascript" src="{% static 'build/bundle.min.js' %}"></script>
        {% endif %}
    </body>
</html>